<h2>Permissões</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Modelo</th>
    <th>Ação</th>
    <th>Descrição</th>
    <th></th>
  </tr>
  <% collection.each do |r| %>
    <tr>
      <td><%= r.object_type %></td>
      <td><%= r.action_name %></td>
      <td><%= r.description %></td>
      <td>
        <%= render 'admin/shared/actions', r: r %>
      </td>
    </tr>
  <% end %>
</table>

<%= render 'admin/shared/create' %>
